
@*<div class="fw-bold" style="color:forestgreen">
    Brand Data Inserted Successfully !!!
</div>*@

<div class="alert alert-success">
    <strong>Success!</strong> The brand has been Inserted successfully.
</div>