
<div class="text-danger fw-bold">
    Failed to Save Data !!! <br>
    Please try again...
</div>

<div class="alert alert-success">
    <strong>Failed!</strong> The brand has been Created Not successfully.Please try again...
</div>