@*<div class="text-warning fw-bold">
    Brand Data Deleted Successfully !!!
</div>*@


<div class="alert alert-success">
    <strong>Success!</strong> The brand has been deleted successfully.
</div>
